<div class="chat border-radius background-color-menu box-shadow-create-post" id="{{ chat_id }}">
    <div class="chat__header">
        <div class="chat__header-icon" id="js-back-to-messages-btn">
            <input type="image" class="chat__header-img" src="static/img/back.svg">
            <input type="image" class="chat__header-img" src="static/img/back_hover.svg">
        </div>

        <div class="chat__header-info cursor-pointer js-go-to-profile" data-id="{{ user.user_link }}">
            <img src="{{ user.avatar_url }}" class="chat__header-info-avatar avatar-form profile-img-size">
            <div class="chat__header-info-text">{{ user.first_name }} {{ user.last_name }}</div>
        </div>

        <div class="chat__header-image opacity-pic"><img src="static/img/post_icons/post_menu.svg"></div>
    </div>

    <div class="chat__body" id="js-1">
        {{#each messages }}
            {{> chatItem this }}
        {{/each}}
    </div>

    <div class="chat__footer">
        <div class="foo border-radius">
            <textarea class="chat__footer-input border-radius font-InterMedium font-size-15 font-color-gray-text background-color-feed border-none" placeholder="Написать сообщение" id="js-msg-input">{{ curMsg }}</textarea>

            <div class="chat__footer-icon" id="js-add-photo-to-msg">
                <input type="image" src="static/img/post_icons/photo.svg">
                <input type="image" src="static/img/post_icons/photo_hover_msg.svg">
            </div>

            <div class="chat__footer-icon">
                <input type="image" src="static/img/post_icons/smile.svg">
                <input type="image" src="static/img/post_icons/smile_hover_msg.svg">
            </div>
        </div>

        <div class="block" id="js-send-msg-block">
            <input type="image" src="static/img/post_icons/sendBlock.svg">
        </div>

        <div class="chat__footer-icon display-none" style="margin-top: 20px;" id="js-send-msg">
            <input type="image" src="static/img/post_icons/send.svg">
            <input type="image" src="static/img/post_icons/send_hover.svg">
        </div>
    </div>

    <div class="msg-media-create" id="js-post-media">
        {{#each attachments}}
            {{#if (eq type 'img')}}
                <div class="msg-media-create__img-container">
                    <img class="msg-media-create__img border-radius-btn-input" src="{{ url }}">
                </div>
                <span class="js-delete-photo-from-msg close-button cursor-pointer" data-id="{{ id }}">&times;</span>
            {{/if}}
        {{/each}}
    </div>
    {{#each attachments}}
        {{#if (eq type 'file')}}
            <div class="msg-files">
                <img src="static/img/doc.svg">
                <span class="file-name"> {{ filename }} </span>
                <span class="js-delete-photo-from-msg delete-button cursor-pointer file-name" data-id="{{ id }}">&times;</span>
            </div>
        {{/if}}
    {{/each}}
    </div>

</div>
