<div class="message js-go-chat cursor-pointer" data-id="{{ chat_id }}">
    <div class="message__info">
        <img src="{{ avatar_url }}" class="message__friend-avatar avatar-form">
        <div class="message__block message__block_flex-start">
            <div class="message__text">{{ first_name }} {{ last_name }}</div>
            <div class="message__text message__text_grey">{{ text }}</div>
        </div>
    </div>
    <div class="message__block">
        <div class="message__date"> {{ date }} </div>
        {{#if read }}
            <div class="message__status message__status_muted"> </div>
        {{ else }}
            <div class="message__status"> </div>
        {{/if}}
    </div>
</div>
