<div class="input-block-settings">
    <div class="input-block-settings__info font-InterRegular font-size-12 font-color-gray-text">{{ help }}</div>
    <input class="input-block-settings__field input-bloc-settings__field_correct font-InterMedium font-color-gray-text font-size-14 border-radius-btn-input text-indent-input" id="{{ jsIdInput }}" value="{{ data }}" type="{{ type }}">
    <div class="input-block-settings__error font-InterRegular font-size-12 font-color-error" id="{{ jsIdError }}">{{err}}</div>
</div>
