<div class="friend" id="{{ user_link }}">
    <div class="friend__info">
        <img src="{{ avatar }}" class="friend__avatar" data-action="profile">
        <div class="friend__wrapper">
            <div class="friend__name" data-action="profile">{{ first_name }} {{ last_name }}</div>
            {{#if isFriend}}
                <button class="friend__button friend__button_grey">
                    <div class="friend__button-text"> Написать сообщение </div>
                </button>
            {{else}}
                <div class="friend__city">{{ city }}</div>
            {{/if}}
        </div>
    </div>
    {{#if isFriend}}
        <div class="friend__img"><img src="static/img/post_icons/post_menu.svg"></div>

        <!--<div class="post-menu post-menu-size post-menu-position background-color-profile-menu border-radius-btn-input box-shadow-profile-menu">
            <div class="post-menu-item-delete hover-block border-radius-btn-input margin-auto" data-id="{{ id }}">
                <span class="menu-item__text font-size-15 font-MailSansRoman margin-auto"> Удалить из друзей </span>
            </div>
            <div class="post-menu-item-edit hover-block border-radius-btn-input margin-auto" data-id="{{ id }}">
                <span class="menu-item__text font-size-15 font-MailSansRoman margin-auto"> Перейти на страницу </span>
            </div>
        </div>-->
    {{else}}
        <button class="friend__button friend__button_grey js-friend-add" data-id="{{ user_link }}">
            <div class="friend__button-text"> Добавить в друзья </div>
        </button>
    {{/if}}
</div>
