<div class="friend" id="{{ user_link }}">
    <div class="friend__info">
        <img src="{{ avatar_url }}" class="friend__avatar avatar-form js-go-to-profile margin-auto" data-id="{{ user_link }}" data-action="profile">
        <div class="friend__wrapper">
            <div class="friend__name js-go-to-profile margin-auto" data-action="profile" data-id="{{ user_link }}">{{ first_name }} {{ last_name }}</div>
            {{#if isFriend}}
                <button class="friend__button friend__button_grey js-friend-go-msg" data-id="{{ user_link }}">
                    <div class=""> Написать сообщение </div>
                </button>
            {{else}}
                <div class="friend__status">{{ status }}</div>
            {{/if}}
        </div>
    </div>

    <div class="friends-buttons__wrapper">
        {{#if isFriend}}
            <div class="groupItem-menu">
                <div class="friend__img"><img src="static/img/post_icons/post_menu.svg"></div>

                <div class="friend-menu friend-menu-size friend-menu-position background-color-profile-menu border-radius-btn-input box-shadow-profile-menu">
                    <div class="friend-menu-item friend-menu-item-delete hover-block border-radius-btn-input margin-auto" data-id="{{ user_link }}">
                        <span class="friend-item__text font-size-15 font-MailSansRoman margin-auto"> Удалить из друзей </span>
                    </div>
                    <div class="friend-menu-item friend-menu-item-page hover-block border-radius-btn-input js-go-to-profile margin-auto" data-id="{{ user_link }}">
                        <span class="friend-item__text font-size-15 font-MailSansRoman margin-auto"> Страница </span>
                    </div>
                </div>
            </div>
        {{/if}}
        {{#if isUser}}
            <button class="friend__button friend__button_grey js-friend-add" data-id="{{ user_link }}">
                <div class="friend__button-text"> Добавить в друзья </div>
                <img class="friend__button-text__icon" src="../../static/img/addFriend.svg">
            </button>
        {{/if}}
        {{#if isSubscribed}}
            <button class="friend__button friend__button_grey js-friend-unsub" data-id="{{ user_link }}">
                <div class="friend__button-text"> Отписаться </div>
                <img class="friend__button-text__icon" src="../../static/img/close.svg">
            </button>
        {{/if}}

        <!--    TODO: прокинуть с бэка доп поля для отображения кнопки "написаь" "подписаться" и тд-->
        <!--    TODO: поиск по всем вкладкам-->
        {{#if isSubscriber}}
            <div class="friend__buttons">
                <button class="friend__button friend__button_grey js-friend-add" data-id="{{ user_link }}">
                    <div class="friend__button-text"> Добавить в друзья </div>
                    <img class="friend__button-text__icon" src="../../static/img/addFriend.svg">
                </button>
                <button class="friend__button friend__button-two friend__button_white background-color-menu js-friend-delete" data-id="{{ user_link }}">
                    <div class="friend__button-text"> Отклонить </div>
                    <img class="friend__button-text__icon" src="../../static/img/close.svg">
                </button>
            </div>
        {{/if}}
    </div>
</div>
