<div class="comments-list">
    
</div>

    <div class="create-comment-section">
        <div class="comment-profile-icon">
            <img src={{ user.photoPath }}>
        </div>

        <div class="comment-input-block">
            <input placeholder="Написать комментарий">
        </div>

        <div class="attach-photo-icon">
            <img src={{ paths.attachPhotoIconPath }}>
            <img src={{ paths.attachHoveredPhotoIconPath }}>
        </div>

        <div class="choose-emoji-icon">
            <img src={{ paths.attachSmileIconPath }}>
            <img src={{ paths.attachHoveredSmileIconPath }}>
        </div>

        <div class="send-icon">
            <img src={{ paths.sendIconPath }}>
        </div>
</div>