<div class="comments-area font-MailSansRomanRegular">
    <div class="comments-list">
        {{#each comments }}
            {{> comment this }}
        {{/each}}
    </div>
    {{#if has_next}}
        <div class="show-more-block" data-post-id={{ id }}>
        <span class="show-more-block__text">
            Показать больше
        </span>
        </div>
    {{/if}}

    <div class="create-comment">
        <img class="create-comment__avatar profile-img-size avatar-form" src="{{#if user_avatar_url}}{{user_avatar_url}}{{else}}{{avatar_url}}{{/if}}">



        <div class="depeche-multiline-input border-radius font-InterRegular font-size-14 font-color-gray-text background-color-feed border-none" placeholder="Написать комментарий" contenteditable="true" role="textbox" aria-multiline="true">{{ curComment }}</div>

        {{!-- <div class="chat__footer-icon">
            <input class="cursor-pointer" type="image" src="static/img/post_icons/photo.svg">
            <input class="cursor-pointer" type="image" src="static/img/post_icons/photo_hover_msg.svg">
        </div>

        <div class="chat__footer-icon comment-icon_smiles">
            <input class="cursor-pointer" type="image" src="static/img/post_icons/smile.svg">
            <input class="cursor-pointer" type="image" src="static/img/post_icons/smile_hover_msg.svg">
        </div>
        {{> smiles keyboardData}} --}}

        <div class="chat__footer-icon create-comment__send-icon">
            <input class="cursor-pointer" type="image" src="static/img/post_icons/send.svg">
            <input class="cursor-pointer" type="image" src="static/img/post_icons/send_hover.svg">
        </div>
    </div>
</div>
