 <div class="edit-post background-color-menu border-radius box-shadow-create-post" id="{{ id }}">
    <div class="edit-post__body">
        <img src="{{ avatar_url }}" class="edit-post__body-img avatar-form profile-img-size">
        <textarea maxlength="1500" class="edit-post__body-text font-color-text font-size-16 font-MailSansRomanRegular" placeholder="Добавить запись" id="js-edit-post-textarea">{{ text }}</textarea>
    </div>
     <div class="post-media-create" id="js-post-media">
         {{#each attachments}}
             {{#if (eq type 'img')}}
                 <img class="post-media-create__img border-radius-btn-input" src="{{ url }}">
                 <span class="close-button cursor-pointer" data-id="{{ id }}">&times;</span>
             {{/if}}
         {{/each}}
     </div>
     {{#each attachments}}
         {{#if (eq type 'file')}}
             <div class="files">
                 <img src="static/img/doc.svg">
                 <span class="file-name"> {{ filename }} </span>
                 <span class="close-button delete-button cursor-pointer file-name" data-id="{{ id }}">&times;</span>
             </div>
         {{/if}}
     {{/each}}
    <div class="edit-post__options">
        <div class="hover-pic margin-auto cursor-pointer" id="js-add-photo-to-post-pic" style="grid-column: 6;">
            <img class="margin-auto" src="static/img/post_icons/photo.svg">
            <img class="margin-auto" src="static/img/post_icons/photo_hover.svg">
        </div>
        <input class="display-none" id="js-add-photo-to-post" type="file">

        <div class="hover-pic margin-auto cursor-pointer" style="grid-column: 8;">
            <img class="margin-auto" src="static/img/post_icons/smile.svg">
            <img class="margin-auto" src="static/img/post_icons/smile_hover.svg">
        </div>
        <div class="edit-post__options-button">
            {{> buttonDefault buttonData1 }}
        </div>
        <div class="edit-post__options-button">
            {{> buttonDefault buttonData }}
        </div>
    </div>
 </div>
