<div class="menu-item hover-block border-radius-btn-input" id="{{ jsId }}">
    <div class="margin-auto">
        <img class="margin-auto" id="{{ jsId }}-img" src={{ iconPath }}>
        <img class="margin-auto" id="{{ jsId }}-img-active" src={{ hoveredIconPath }}>
    </div>

    <span class="menu-item__text font-size-15 font-MailSansRoman"> {{ text }} </span>
    <span class="menu-item__notifies" id="{{ jsIdNotifies }}"> {{ notifies }} </span>
</div>
