<div class="menu-item hover-block border-radius-btn-input" id="{{ jsId }}">
    <div class="margin-auto">
        <img class="margin-auto" id="{{ jsId }}-img" src={{ iconPath }}>
        <img class="margin-auto" id="{{ jsId }}-img-active" src={{ hoveredIconPath }}>
    </div>

    <span class="menu-item__text font-size-15 font-MailSansRoman"> {{ text }} </span>
    {{#if notifies}}
        <span class="menu-item__notifies font-size-13 font-InterMedium font-color-gray-text background-item-hovered border-radius" id="{{ jsIdNotifies }}"> {{ notifies }} </span>
    {{/if}}
</div>
