<div class="commentators-photo">
        <img src={{ comment.senderPhotoPath }}>
    </div>
    <div class="commentators-name"><span>{{ comment.sender_name }}</span></div>
    <div class="comment-body"><span>{{ comment.text }}</span></div>
    <div class="comment-date">{{ comment.date }}</div>
    <div class="comment-edit-block">
        <img src={{ paths.edit }}>
        <img src={{ paths.delete }}>
</div>