{{#if editing_mode}}
    <div class="comment-editing-block">
        <img class="comment__avatar profile-img-size avatar-form" src="{{ sender_info.avatar_url }}">
        <span class="comment__name font-size-16 font-color-post-sender font-MailSansRoman">{{ sender_info.first_name }} {{ sender_info.last_name }}</span>
        <span class="comment-edit-title font-size-14 font-color-gray-text">редактирование</span>
        {{!-- <input class="comment-edit-input border-radius-btn-input background-item-hovered border-none font-size-15 font-color-gray-text" placeholder="Редактировать комментарий"> --}}
        <textarea class="edit-comment__input border-radius font-InterRegular font-size-14 font-color-gray-text background-color-feed border-none" style="padding: 8px 10px;box-sizing: border-box;" placeholder="Редактировать комментарий">{{ cur_comment }}</textarea>
        <div class="editing-buttons">
            <div class="cancel-comment-edit-button border-radius-btn-input cursor-pointer background-item-hovered font-color-gray-text" data-comment-id={{id}} data-post-id={{post_id}}>
                <span class="cancel-comment-edit-button__text">Отменить</span>
            </div>
            <div class="submit-comment-edit-button border-radius-btn-input cursor-pointer background-color-icon font-color-btn " data-comment-id={{id}} data-post-id={{post_id}}>
                <span class="submit-comment-edit-button__text">Сохранить</span>
            </div>
        </div>
    </div>
{{else}}
    <div class="comment">
        <img class="comment__avatar profile-img-size avatar-form" src="{{ sender_info.avatar_url }}">
        <span class="comment__name font-size-16 font-color-post-sender font-MailSansRoman">{{ sender_info.first_name }} {{ sender_info.last_name }}</span>
        <span class="comment__date font-size-12 font-color-gray-text"> {{ creation_date }} </span>
        {{#if is_author}}
            <div class="comment-operations">
                <img class="comment-operations__update cursor-pointer" src="static/img/comment_icons/edit.svg" data-comment-id={{id}} data-post-id={{post_id}}">
                <img class="comment-operations__delete cursor-pointer" src="static/img/comment_icons/delete.svg" data-comment-id={{id}} data-post-id={{post_id}}>
            </div>
        {{/if}}
        <span class="comment__text font-size-14 font-color-text"> {{ text }} </span>
    </div>
{{/if}}
