<header class="header header-size header-position background-color-feed">
    <div class="search-area-with-dropdown" id="js-search-area" tabindex="0">
        <div class="search-area background-color-header border-radius box-shadow-search-area">
            <img class="search-area__icon" src="static/img/search.svg">
            <input class="search-area__input border-none font-InterMedium font-size-12 font-color-gray-text background-color-header" id="js-search-area-input" placeholder="Найти">
        </div>
        <div class="search-dropdown background-color-side-bar font-size-15 font-MailSansRoman font-color-gray-text box-shadow-profile-menu" id="js-search-dropdown">
            {{> searchDropdown}}
        </div>
    </div>

    <img class="notification__icon header-icon margin-auto" src="static/img/noticeUnread.svg" alt="">

    <div class="profile">
        <img class="profile__icon profile-img-size margin-auto avatar-form cursor-pointer" id="js-header-avatar" src={{ avatar_url }}>
        <img class="profile__menu-icon" src="static/img/menu.svg">

        <div class="profile-menu profile-menu-size profile-menu-position background-color-profile-menu border-radius-btn-input box-shadow-profile-menu">
            <div class="profile-menu-item hover-block border-radius-btn-input" id="{{ settingsButton.jsId }}">
                <div class="margin-auto" style="grid-column: 2;">
                    <img class="margin-auto" src="{{ settingsButton.iconPath }}">
                    <img class="margin-auto" src="{{ settingsButton.hoveredIconPath }}">
                </div>
                <span class="menu-item__text font-size-15 font-MailSansRoman"> {{ settingsButton.text }} </span>
            </div>
            <div class="profile-menu-item hover-block border-radius-btn-input" id="{{ exitButton.jsId }}">
                <div class="margin-auto" style="grid-column: 2;">
                    <img class="margin-auto" src="{{ exitButton.iconPath }}">
                    <img class="margin-auto" src="{{ exitButton.hoveredIconPath }}">
                </div>
                <span class="menu-item__text font-size-15 font-MailSansRoman"> {{ exitButton.text }} </span>
            </div>
        </div>
    </div>
</header>
